@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*Common*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1:not([class]):not(:last-child),
.h1:not(:last-child) {
    margin-bottom: 32px;
}

h2:not([class]):not(:last-child),
.h2:not(:last-child) {
    margin-bottom: 24px;
}

p:not([class]):not(:last-child),
ul:not([class]):not(:last-child),
img:not([class]):not(:last-child),
table:not([class]):not(:last-child),
blockquote:not([class]):not(:last-child) {
    margin-bottom: 16px;
}

li:not([class]):not(:last-child) {
    margin-bottom: 10px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #121214;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1164px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0033FF;
    border-radius: 8px;
}

.button:hover {
    opacity: 0.8;
}

/*Header*/

.header {
    padding: 19px 20px 22px;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-flex;
    margin-right: 20px;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.navigation-user {
    margin-left: auto;
    max-width: 200px;
}

.navigation__item {
    list-style-type: none;
}

.navigation__link {
    padding: 15px 10px;
    color: #A6A8AD;
    text-decoration: none;
}

.navigation__link:hover {
    color: #FFFFFF;
}

.sign-up {
    margin-left: 10px;
}

.navigation__item--sign-up .navigation__link {
    padding: 8px 21px;
    color: #121214;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
}

.navigation__item--sign-up:hover {
    opacity: 0.8;
}

/*Main*/

.content {
    flex-grow: 1;
}

.temp-notice {
    padding: 11px;
    text-align: center;
    background: #0033FF;
}

.temp-notice__text {
    margin-right: 40px;
    line-height: 24px;
}

.temp-notice__link {
    text-decoration: none;
    color: inherit;
}

.temp-notice__link:hover {
    opacity: 0.8;
}

.promo {
    display: flex;
    flex-direction: column;
    min-height: 744px;
    margin-bottom: 96px;
    padding-top: 137px;
    background-image: url("../images/backgrounds/main-bg.jpg");
    background-repeat: no-repeat;
}

.promo__text-container {
    max-width: 420px;
}

.promo__title {
    margin-bottom: 28px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
    letter-spacing: 1.08px;
}

.promo__text {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
}

.promo__button {
    padding: 16px 32px;
    align-self: flex-start;
}

.promo__link {
    position: relative;
    display: block;
    padding-bottom: 40px;
    margin-top: 167px;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}

.promo__link:after {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 12px;
    height: 8px;
    content: "";
    background-image: url("../images/icons/arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.promo__link:hover {
    opacity: 0.8;
}

.advantages {
    margin-bottom: 121px;
}

.advantages__item {
    list-style-type: none;
}

.advantage-card {
    display: grid;
    grid-template-columns: 1fr 580px;
    margin-bottom: 92px;
    gap: 84px;
}

.advantage-card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantage-card__title {
    margin: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #A6A8AD;
}

.advantage-card__subtitle {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 36px;
}

.advantage-card__description {
    margin-bottom: 18px;
    max-width: 420px;
    font-size: 16px;
    line-height: 24px;
}

.advantage-card:first-child {
    margin-bottom: 100px;
}

.advantage-card--right {
    display: grid;
    grid-template-columns: 580px 1fr;
    gap: 84px;
}

.advantage-card--right .advantage-card__body {
    text-align: right;
}

.advantage-card--right .advantage-card__description {
    align-self: flex-end;
}

.advantage-card__button {
    align-self: flex-start;
}

.advantages__item:last-child .advantage-card__button {
    align-self: flex-end;
}


.creators {
    margin-bottom: 120px;
}

.creators__title {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
}

.creators__list {
    display: grid;
    grid-template-columns: repeat(3, 361px);
    gap: 10px;
}

.creators__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.3px;
    color: #000000;
    list-style-type: none;
    background: #F8F8F8;
    border-radius: 8px;
}

.creators__img {
    margin-bottom: 30px;
    border-radius: 50%;
}

.creators__quote {
    margin-bottom: 16px;
}

.quote__text {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.3px;
}

.creators__author {
    align-self: flex-start;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #767676;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 728px;
    background-image: url("../images/backgrounds/try-splice-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.start__text {
    margin-bottom: 57px;
    font-size: 54px;
    line-height: 60px;
}

/*Footer*/

.footer {
    font-size: 16px;
    line-height: 24px;
    color: #A6A8AD;
}

.footer__list-sections {
    display: grid;
    grid-template-columns: repeat(6, 155px);
    column-gap: 32px;
    padding: 48px 0 72px;
}

.footer-list:first-of-type {
    margin-bottom: 10px;
}

.list-sections__title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-list__item {
    padding-bottom: 11px;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
}

.footer-list__link {
    color: inherit;
    text-decoration: none;
}

.footer-list__link:hover {
    color: #FFFFFF;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 61px;
    font-size: 12px;
    line-height: 18px;
}

.footer__rights {
    margin-right: 35px;
}

.footer__navigation-list {
    display: flex;
}

.footer-navigation__item {
    margin-bottom: 11px;
    list-style-type: none;
}

.footer-navigation__link {
    padding: 15px;
    color: inherit;
    text-decoration: none;
}

.footer-navigation__link:hover {
    color: #FFFFFF;
}

